{% extends "base.html" %}
{% block title %}Hospital List{% endblock %}
{% block content%} 


    <div class="container">
        <h3 class="mb-4">Hospital List</h3>
            <div class="row">
                {% for hospital in hospitals %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h6 class="card-text"> <strong>Name: {{hospital.name}}</strong></h6>
                                <p class="card-text">Email: {{hospital.email}}</p>
                                <p class="card-text">Address: {{hospital.address}}</p>
                                <p class="card-text">Phone: {{hospital.phone}}</p>
                                
                                <div class="d-flex gap-4" >
                                    <a  href="{% url 'hospital_detail' hospital.pk %}" class="btn btn-sm btn-primary w-100">View details</a>
                                    <form action="{% url 'hospital_delete' hospital.pk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                {% empty %}
                        <p>No hospital found.</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock%}